.coolhjemmeside {
  color: chartreuse;
  margin: 0 auto;
  max-width: 940px;
  padding: 10px;
  position: relative;
  background-color: black;
}

.h {
  font-size: 40px
}

.container {
  color: chartreuse;
  margin: 0 auto;
  max-width: 940px;
  padding: 10px;
  position: relative;
  background-color: black;
}

.background {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRHY0wAfc6WtezexqhNSza6dYVS09x7vOtETQ&usqp=CAU");
  background-size: cover;
  background-attachment: fixed;
}

#boks {
  border: 3px solid chartreuse;
  border-radius: 8px;
  position: relative;
  top: 50px;
  width:400px;
  margin: 0 auto;
}

h2 {
  align: center;
}

#linkcolor {
  color: Aqua;
}
